http_relay
cmake_install.cmake
CMakeFiles/
http_client
http_relayV
nostro
nostro.log.txt
server.crt
server.key
vostro
vostro.log.txt
list_01.txt
list_02.txt
CHANGELOG
KEYS
GIT-VERSION-FILE
!deps/git/config.*
*.o
/.direnv/
.privenv

gnostr
gnostr-git
gnostr-relay
gnostr-xor
gnostr-legit
gnostr-client
gnostr-get-relays
gnostr-gnode
gnostr-req
tests

gnostr-repo
gnostr-sha256
gnostr-sha256-test
gnostr-tests

libnostr.a

install_manifest.txt
response.txt
src/nostril/Makefile
src/nostril/libnostri.a
src/nostril/nostril

Makefile
CMakeCache.txt

a.out
jsmin

gnostr-*.*.*-*-*
dist/gnostr-*.*.*-*-*
dist-*
/result
configurator.out*
configurator
.build-result
.buildcmd
!config.h
tags
/target

Cargo.lock
Cargo.toml
*.json
scripts/jb55-post
scripts/nostr-follows
scripts/nostr-req
scripts/subnote
/dist
/.dist-*

**.DS_Store
deps/.DS_Store
deps/build/
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
deps/gnostr-proxy/resources/js/isomophic-git/__tests__/

libgit.a
libjq.a
libtclstub.a
libsecp256k1.a

gnostr-cat

bin
.gnostr/gnostr-proxy
