**.dylib

build
src/nostril/config.h

**.DS_Store
**.a

#cmake artifacts
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
ext/secp256k1-0.3.2/CMakeCache.txt
ext/secp256k1-0.3.2/CMakeFiles/
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/cmake_install.cmake
ext/secp256k1-0.3.2/src/CMakeFiles/
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/cmake_install.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config-version.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config.cmake
http_client
http_relay
message.json
nostro
nostro.log.txt
response.json
response.txt
server.crt
server.key
src/nostril/CMakeFiles/
src/nostril/Makefile
src/nostril/cmake_install.cmake
src/nostril/configurator
src/nostril/configurator.out.dSYM/
src/nostril/deps/
src/nostril/nostril
vostro
vostro.log.txt

#gnostr-relay artifacts
Makefile.in
configdata.pm
database.json
event.json
http_client.log.txt
http_relay.log.txt
list_01.txt
list_02.txt
nostro_event.json
request.json
tests
web/wt_config.xml

!resources
!test
!database

**.txt
**.o
**.a
**.txt
**CMakeFiles**
**CMakeCache**

metadata_content.**.json

.gnostr/


gnostr
gnostr-cat
gnostr-client
gnostr-configurator
gnostr-get-relays
gnostr-gnode
gnostr-grep
gnostr-legit
gnostr-repo
gnostr-req
gnostr-set-relays
gnostr-sha256
gnostr-sha256-test
gnostr-tests
gnostr-xor
http_client
http_relay

src/nostril/Makefile
src/nostril/cmake_install.cmake
src/nostril/configurator
src/nostril/configurator.out.dSYM/
src/nostril/nostril


ext/Simple-WebSocket-Server-v2.0.2/tests/
ext/openssl-3.0.5/demos/bio/Makefile
ext/openssl-3.0.5/demos/cipher/Makefile
ext/openssl-3.0.5/demos/digest/Makefile
ext/openssl-3.0.5/demos/kdf/Makefile
ext/openssl-3.0.5/demos/mac/Makefile
ext/openssl-3.0.5/demos/pkey/Makefile
ext/openssl-3.0.5/demos/signature/Makefile
ext/openssl-3.0.5/doc/life-cycles/Makefile
ext/openssl-3.0.5/external/perl/Text-Template-1.56/META.json
ext/openssl-3.0.5/test/recipes/65-test_cmp_client_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_client_data/server.key
ext/openssl-3.0.5/test/recipes/65-test_cmp_msg_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_protect_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_vfy_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_vfy_data/server.key
ext/openssl-3.0.5/test/recipes/80-test_cmp_http_data/Mock/server.crt
ext/openssl-3.0.5/test/recipes/80-test_cmp_http_data/Mock/server.key
ext/secp256k1-0.3.2/CMakePresets.json
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/cmake_install.cmake
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/cmake_install.cmake
ext/secp256k1-0.3.2/src/wycheproof/ecdsa_secp256k1_sha256_bitcoin_test.json
ext/wt-4.10.0/.dprint.json
ext/wt-4.10.0/Changelog
ext/wt-4.10.0/examples/custom-bs-theme/theme/package-lock.json
ext/wt-4.10.0/examples/custom-bs-theme/theme/package.json
ext/wt-4.10.0/src/Wt/Chart/scripts/Makefile
ext/wt-4.10.0/test/json/UTF-8-test.json
ext/wt-4.10.0/test/json/UTF-8-test2.json

ext/wt-4.10.0/Wt/
ext/wt-4.10.0/examples/blog/blog
ext/wt-4.10.0/examples/chart3D/chart3D
ext/wt-4.10.0/examples/charts/charts
ext/wt-4.10.0/examples/codeview/codingview
ext/wt-4.10.0/examples/composer/composer
ext/wt-4.10.0/examples/custom-bs-theme/custom-bs-theme
ext/wt-4.10.0/examples/dbo-form/dbo-form
ext/wt-4.10.0/examples/dialog/dialog
ext/wt-4.10.0/examples/dragdrop/dragdrop
ext/wt-4.10.0/examples/feature/auth1/auth1
ext/wt-4.10.0/examples/feature/auth2/auth2
ext/wt-4.10.0/examples/feature/broadcast/broadcast
ext/wt-4.10.0/examples/feature/client-ssl-auth/client-ssl-auth
ext/wt-4.10.0/examples/feature/locale/locale
ext/wt-4.10.0/examples/feature/mediaplayer/mediaplayer
ext/wt-4.10.0/examples/feature/miniwebgl/miniwebgl
ext/wt-4.10.0/examples/feature/multiple_servers/multiple
ext/wt-4.10.0/examples/feature/oauth/oauth
ext/wt-4.10.0/examples/feature/oidc/oidc
ext/wt-4.10.0/examples/feature/paypal/paypal
ext/wt-4.10.0/examples/feature/postall/postall
ext/wt-4.10.0/examples/feature/scrollvisibility/scrollvisibility
ext/wt-4.10.0/examples/feature/serverpush/serverpush
ext/wt-4.10.0/examples/feature/socketnotifier/socketnotifier
ext/wt-4.10.0/examples/feature/suggestionpopup/suggestionpopup
ext/wt-4.10.0/examples/feature/template-fun/widgetfunction
ext/wt-4.10.0/examples/feature/urlparams/urlparams
ext/wt-4.10.0/examples/feature/video/video
ext/wt-4.10.0/examples/feature/widgetset/hellowidgetset
ext/wt-4.10.0/examples/filedrop/filedrop
ext/wt-4.10.0/examples/filetreetable/filetreetable
ext/wt-4.10.0/examples/form/formexample
ext/wt-4.10.0/examples/gitmodel/gitview
ext/wt-4.10.0/examples/gitmodel/gitview.wt
ext/wt-4.10.0/examples/hangman/hangman
ext/wt-4.10.0/examples/hello/hello
ext/wt-4.10.0/examples/http-client/http-client
ext/wt-4.10.0/examples/javascript/javascript
ext/wt-4.10.0/examples/leaflet/leaflet
ext/wt-4.10.0/examples/mission/impossible
ext/wt-4.10.0/examples/onethread/hello1thread
ext/wt-4.10.0/examples/painting/paintexample
ext/wt-4.10.0/examples/planner/planner
ext/wt-4.10.0/examples/qrlogin/qrlogin
ext/wt-4.10.0/examples/simplechat/simplechat
ext/wt-4.10.0/examples/treelist/demotreelist
ext/wt-4.10.0/examples/treeview-dragdrop/treeviewdragdrop
ext/wt-4.10.0/examples/treeview/treeviewexample
ext/wt-4.10.0/examples/webgl/webgl
ext/wt-4.10.0/examples/widgetgallery/widgetgallery
ext/wt-4.10.0/examples/wt-homepage/Home
ext/wt-4.10.0/src/AuthCssTheme_xml.C
ext/wt-4.10.0/src/AuthStrings_xml.C
ext/wt-4.10.0/src/Boot_html.C
ext/wt-4.10.0/src/Boot_js.C
ext/wt-4.10.0/src/Bootstrap3Theme_xml.C
ext/wt-4.10.0/src/Bootstrap5Theme_xml.C
ext/wt-4.10.0/src/BootstrapTheme_xml.C
ext/wt-4.10.0/src/Hybrid_html.C
ext/wt-4.10.0/src/Plain_html.C
ext/wt-4.10.0/src/WCartesianChart_js.C
ext/wt-4.10.0/src/Wt_js.C
ext/wt-4.10.0/src/Wt_xml.C
ext/wt-4.10.0/test/test.http
ext/wt-4.10.0/test/test.mssqlserver
ext/wt-4.10.0/test/test.sqlite3
ext/wt-4.10.0/test/test.wt
ext/wt-4.10.0/wt-config-version.cmake
ext/wt-4.10.0/wt-config.cmake
ext/wt-4.10.0/wt_config.xml




dist/gnostr-0.0.0-**
dist-0.0.0**

*.json

src/nostril/libnostri.dylib

configurator.out.dSYM/
desktop/gnostro.app/

CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

web/gnostr-web
web/wostro

debug
