**.o
**.a
**.txt
**CMakeFiles**

metadata_content.**.json

.gnostr/


gnostr
gnostr-cat
gnostr-client
gnostr-configurator
gnostr-get-relays
gnostr-gnode
gnostr-grep
gnostr-legit
gnostr-repo
gnostr-req
gnostr-set-relays
gnostr-sha256
gnostr-sha256-test
gnostr-tests
gnostr-xor
http_client
http_relay

src/nostril/Makefile
src/nostril/cmake_install.cmake
src/nostril/configurator
src/nostril/configurator.out.dSYM/
src/nostril/nostril


ext/Simple-WebSocket-Server-v2.0.2/tests/
ext/openssl-3.0.5/demos/bio/Makefile
ext/openssl-3.0.5/demos/cipher/Makefile
ext/openssl-3.0.5/demos/digest/Makefile
ext/openssl-3.0.5/demos/kdf/Makefile
ext/openssl-3.0.5/demos/mac/Makefile
ext/openssl-3.0.5/demos/pkey/Makefile
ext/openssl-3.0.5/demos/signature/Makefile
ext/openssl-3.0.5/doc/life-cycles/Makefile
ext/openssl-3.0.5/external/perl/Text-Template-1.56/META.json
ext/openssl-3.0.5/test/recipes/65-test_cmp_client_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_client_data/server.key
ext/openssl-3.0.5/test/recipes/65-test_cmp_msg_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_protect_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_vfy_data/server.crt
ext/openssl-3.0.5/test/recipes/65-test_cmp_vfy_data/server.key
ext/openssl-3.0.5/test/recipes/80-test_cmp_http_data/Mock/server.crt
ext/openssl-3.0.5/test/recipes/80-test_cmp_http_data/Mock/server.key
ext/secp256k1-0.3.2/CMakePresets.json
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/cmake_install.cmake
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/cmake_install.cmake
ext/secp256k1-0.3.2/src/wycheproof/ecdsa_secp256k1_sha256_bitcoin_test.json
ext/wt-4.10.0/.dprint.json
ext/wt-4.10.0/Changelog
ext/wt-4.10.0/examples/custom-bs-theme/theme/package-lock.json
ext/wt-4.10.0/examples/custom-bs-theme/theme/package.json
ext/wt-4.10.0/src/Wt/Chart/scripts/Makefile
ext/wt-4.10.0/test/json/UTF-8-test.json
ext/wt-4.10.0/test/json/UTF-8-test2.json

dist/gnostr-0.0.0-**
dist-0.0.0**

*.json
