[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
	branch = master
	ignore = dirty
[submodule "deps/nostcat"]
	path = deps/nostcat
    url = git@github.com:RandyMcMillan/nostcat.git
	ignore = dirty
[submodule "deps/git"]
	path = deps/git
	url = git@github.com:RandyMcMillan/git.git
[submodule "deps/tcl"]
	path = deps/tcl
	url = git@github.com:gnostr-org/tcl.git
