name: ubuntu-jq

# Controls when the action will run.
on:
  pull_request:
    branches:
      - '*'
      - '*/*'
      - '**'
      - 'master'
      - 'main'
  push:
    branches:
      - '*'
      - '*/*'
      - '**'
      - 'master'
      - 'main'

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ubuntu-build_and_test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        if: ${{ !env.ACT }}
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
          submodules: 'true'
          set-safe-directory: 'true'
      - name: Restore deps
        id: cache-deps-restore
        uses: actions/cache/restore@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            deps/jq
            deps/git
            deps/secp256k1
            deps/hyper-sdk
            deps/hyper-nostr
            /root/.cargo
            /root/.rustup
          key: ${{ runner.os }}-deps

      - name: apt-get update and install
        run: |
          sudo apt-get update && \
          sudo apt-get install -y \
              build-essential \
              autoconf \
              libtool bash \
              git \
              bison \
              flex \
              python3 \
              python3-pip \
              wget && \
          pip3 install pipenv
          #git submodule init && \
          #git submodule update && \
          #cd deps/jq && \
          #autoreconf -i && \
          #./configure --disable-valgrind --enable-all-static --prefix=/usr/local && \
          #make -j8 && \
          #make check && \
          #make install
          touch ~/GITHUB_TOKEN.txt
      - name: make libjq.a
        run: |
          #pushd deps/jq && autoreconf -i && ./configure  --disable-maintainer-mode  && make all install && popd
          make libjq.a
      - name: Save deps
        id: cache-deps-save
        uses: actions/cache/save@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            deps/jq
            deps/git
            deps/secp256k1
            deps/hyper-sdk
            deps/hyper-nostr
            /root/.cargo
            /root/.rustup
          key: ${{ steps.cache-deps-restore.outputs.cache-primary-key }}

